<md-dialog class="loginDialog ui modal active" ng-enter="login(credentials)">
<i class="close icon" ng-click="$mdDialog.cancel()"></i>
<div class="header">
	Login
</div>
<div class="content">

	<div class="ui form">
		<div class="field">
			<label>Username</label>
			<input type="text" placeholder="Username" ng-model="credentials.username">
		</div>

		<div class="field">
			<label>Password</label>
			<input type="password" placeholder="Password" ng-model="credentials.password">
		</div>
	</div>

</div>
<div class="actions">
	<div class="ui red button" ng-click="$mdDialog.cancel()">
		Cancel
	</div>
	<div class="ui positive button" ng-click="login(credentials)">
		Login
	</div>
</div>
</md-dialog>