.homeView .posts {
  margin-top: 50px !important; }
  .homeView .posts .ui.content {
    font-size: 14px;
    line-height: 21px;
    padding: 10px 30px; }

.dailyView {
  margin-top: 50px;
  padding: 20px 50px; }
  .dailyView .money-label {
    margin-right: 20px;
    position: relative;
    top: 15px; }
  .dailyView .removeButton {
    position: relative;
    top: 15px; }
  .dailyView .money-input-field {
    padding: 1em 1.5em !important; }
  .dailyView .before, .dailyView .after {
    margin-top: 20px; }
  .dailyView .periodParent {
    max-width: 400px; }
  .dailyView .student-input:not(:last-child) {
    display: block;
    margin-bottom: 10px; }
  .dailyView .submit .ui.button {
    margin-top: 100px !important;
    font-size: 25px !important;
    text-align: center !important; }
  .dailyView .periodInput .dropdown {
    min-width: 0px !important;
    width: 100%; }
  .dailyView .dropdown.itemDropdown {
    width: 255px !important; }
  .dailyView .sales .sale:not(:first-child) {
    margin-top: 20px; }
  .dailyView .sales .sale .three.wide.column {
    padding-left: 0 !important; }

.salesRecapView {
  margin-top: 50px; }
  .salesRecapView .recaps .recap h2 {
    font-size: 20px !important;
    text-align: center; }
  .salesRecapView .recaps .dataSegment, .salesRecapView .recaps .students {
    padding-left: 0 !important;
    padding-bottom: 0 !important; }
  .salesRecapView .recaps .dataSegment {
    padding-right: 0 !important; }
  .salesRecapView .recaps .sales {
    padding-right: 0 !important; }
  .salesRecapView .table {
    border: 0 !important; }
    .salesRecapView .table .countData {
      text-align: center; }
  .salesRecapView .salesParent {
    padding: 0 !important; }
  .salesRecapView .commentsRow:first-child {
    padding-bottom: 0 !important; }
  .salesRecapView .commentsRow {
    text-align: center !important; }

.itemRecapView {
  margin-top: 50px;
  font-size: 125%; }
  .itemRecapView .dropdown {
    max-width: 300px; }
  .itemRecapView .salesTable {
    max-width: 1200px;
    margin: 0 auto !important;
    margin-top: 50px !important; }
  .itemRecapView .dateMessage {
    text-align: center; }
    .itemRecapView .dateMessage > * {
      font-size: 200% !important; }

.itemSettingsView {
  margin-top: 100px; }
  .itemSettingsView .addButton {
    max-width: 200px;
    text-align: center !important; }
  .itemSettingsView .itemTable tr td {
    font-size: 20px;
    padding: 15px; }
  .itemSettingsView .actionsHeader {
    text-align: center !important; }
  .itemSettingsView .center {
    text-align: center !important; }

.studentSettingsView {
  margin-top: 100px; }
  .studentSettingsView .addButton {
    max-width: 200px;
    text-align: center !important; }
  .studentSettingsView .itemTable tr td {
    font-size: 20px;
    padding: 15px; }
  .studentSettingsView .actionsHeader {
    text-align: center !important; }
  .studentSettingsView .center {
    text-align: center !important; }

.loginDialog {
  width: 300px; }

.addNewItemDialogView .ui.input.labeled:not(:last-child) {
  margin-bottom: 20px; }

.addNewStudentDialogView .ui.input.labeled:not(:last-child) {
  margin-bottom: 20px; }

.ui.modal {
  top: 25% !important; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/*# sourceMappingURL=main.css.map */
