@import "pages/home";
@import "pages/daily";
@import "pages/salesRecap";
@import "pages/itemRecap";
@import "pages/itemSettings";
@import "pages/studentSettings";

@import "dialogs/loginDialog";
@import "dialogs/addNewItemDialog";
@import "dialogs/addNewStudentDialog";

body {
  top: 0px !important;
}

.ui.modal {
	top: 25% !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-toast {
  position: fixed !important;
  bottom: 20px !important;
  left: 20px !important;
}