.dailyView {
  margin-top: 50px;
  padding: 20px 50px;

  .money-label {
    margin-right: 20px;

    position: relative;
    top: 15px;
  }

  .removeButton {
    margin: 0 !important;
  }

  .money-input-field {
    padding: 1em 1.5em !important;
  }

  .before,.after {
    margin-top: 20px;
  }

  .periodParent {
    max-width: 400px;
  }

  .student-input:not(:last-child) {
    display: block;
    margin-bottom: 10px;
  }

  .submit .ui.button{
    margin-top: 100px !important;
    font-size: 25px !important;
    text-align: center !important;
  }

  .periodInput .dropdown {
    min-width: 0px !important;
    width: 100%;
  }

  .dropdown.itemDropdown {
    width: 255px !important;
  }

  .sales  {
    .sale:not(:first-child) {
      margin-top: 20px;
    }

    .sale .three.wide.column {
      padding-left: 0 !important;
    }
  }
}