.homeView {
  .posts {
    margin-top: 75px !important;

    .post {
      margin-top: 50px;

      .post__header__right {
        & > * {
          display: inline-block;
        }

        .remove.circle.icon {
          cursor: pointer;
          color: red;
        }
      }
    }

    .ui.content {
      font-size: 14px;
      line-height: 21px;
      padding: 10px 30px;
    }
  }
}