.salesRecapView {
  margin-top: 75px;

  .recap-row {
    width: 100% !important;

    & > .ui.grid {
      width: 100% !important;
    }
  }

  .recaps {
    margin-top: 25px !important;

    .recap {
      h2 {
        font-size: 20px !important;
        text-align: center;
      }

      .header-row {
        width: 101% !important;
      }
    }

    .dataSegment,.students {
      padding-left: 0 !important;
      padding-bottom: 0 !important;
    }

    .dataSegment {
      padding-right: 0 !important;
    }

    .sales {
      padding-right: 0 !important;
    }
  }

  .table {
    border: 0 !important;

    .countData  {
      text-align: center;
    }
  }

  .salesParent {
    padding: 0 !important;
  }

  .commentsRow:first-child {
    padding-bottom: 0 !important;
  }

  .commentsRow {
    margin: 0 auto;
    text-align: center !important;
  }

  .sales-grid .column {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}