.studentSettingsView {
  margin-top: 75px;

  .addButton {
    max-width: 200px;
    text-align: center !important;
  }

  .itemTable {
    tr td {
      font-size: 20px;
      padding: 15px;
    }
  }

  .actionsHeader {
    text-align: center !important;
  }

  .center {
    text-align: center !important;
  }
}